<footer class="page-footer bg-primary">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Blogify</h5>
          <p class="grey-text text-lighten-4">The Art of Finding Inspiration in Everyday Life.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Follow Us</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/barshan__mukherjee/?igshid=OTk0YzhjMDVlZA%3D%3D">Instagram</a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/barshan.mukherjee.9">Facebook</a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/barshan-mukherjee">LinkedIn</a></li>
            <li><a class="grey-text text-lighten-3" href="https://twitter.com/BarshanMukherj4">X</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2023 Copyright CodewithBarshan
      <a class="grey-text text-lighten-4 right" href="https://github.com/CodewithBarshan">For More Projects</a>
      </div>
    </div>
  </footer>